.category {
  transition: transform 0.3s;
}

.category:hover,
.category:focus {
  transform: scale(1.05);
}

.category span {
  color: var(--text);
}

.category span:first-child {
  font-size: 2rem;
  transform: translateY(-4px);
}

.category span:last-child {
  color: #000;
  font-weight: 500;
}
