.intro {
  display: block;
  margin: 0px auto 25px auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--text);
  background-color: #afe687c7;
  box-shadow: none;
}

h3 {
  width: 100%;
}

h3::after {
  content: '';
  background-color: var(--text);
  display: block;
  height: 1px;
  width: 100%;
  margin: 10px 0;
}

.intro p {
  font-size: 0.9rem;
  line-height: 1.4;
}

.intro > span {
  display: block;
}

.intro p::after {
  content: '';
  background-color: var(--text);
  display: block;
  height: 1px;
  width: 100%;
  margin: 10px 0;
}

.fa-hand-point-down {
  width: 100%;
  font-size: 1.8rem;
  margin: 10px auto 0 auto;
  text-align: center;
  animation-name: floating;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0, 0); }
  50% { transform: translate(0, 7px); }
  100% { transform: translate(0, -0); }
}

.category {
  transition: transform 0.3s;
}

.category:hover,
.category:focus {
  box-shadow: none;
  border-bottom: 2px solid var(--primary);
}

.category span {
  color: var(--text);
}

.intro p > span {
  color: var(--white);
}

.category span:first-child {
  font-size: 2rem;
  transform: translateY(-4px);
}

.category span:last-child {
  color: #000;
  font-weight: 500;
}
