header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6rem;
  width: 100%;
  height: 3.5rem;
  font-size: 1.2rem;
  background-color: var(--primary);
  color: var(--white);
}

header > a {
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: none;
}

.fa-right-from-bracket {
  border: none;
  background: none;
  color: var(--white);
  font-size: 1.5rem;
}

.fa-right-from-bracket:hover {
  cursor: pointer;
}

.login {
  font-size: 1.1rem;
}

/* @media screen and (min-width: 992px) {
  header {
    width: 50%;
    margin: 0 auto;
  }
} */
