.purchase-category span:first-child {
  font-size: 2rem;
  transform: translateY(-4px);
}

.purchase-ul {
  margin-bottom: 0;
}

.purchase {
  position: relative;
  padding: 15px 10px 45px 10px;
}

.purchase .date {
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 0.8rem;
  color: #999;
}

.purchase .purchase-del {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.purchase .purchase-del .delBtn {
  font-size: 1.3rem;
  color: #999;
}

.purchase .purchase-del .delBtn:hover,
.purchase .purchase-del .delBtn:focus {
  color: var(--red-hover);
}

.total-amount {
  font-weight: 600;
  padding: 30px 10px;
}
