.splash {
  position: relative;
  height: 100vh;
  background-color: var(--white);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.splash > div {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  width: 92%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.splash > div > a {
  color: var(--text);
  text-decoration: none;
  padding: 12px 0;
  font-size: 15px;
  border-radius: 2px;
}

.splash > div > a:first-child {
  background-color: var(--primary);
  color: var(--white);
}

.splash > div > a:first-child:hover {
  background-color: var(--primary-hover);
}

.splash > div > a:last-child:hover {
  background-color: var(--secondary);
  color: var(--white);
}

@media screen and (min-width: 992px) {
  .splash > div {
    width: 40%;
  }
}
