<%= render 'shared/header', title: "categories", back: false %>
<% if @categories.empty? %>
    <h2>No category found</h2>
<% else %>
    <ul>
        <% @categories.each do |category| %>
            <li>
                <div><%= category.icon %></div>
                <div><%= category.name %></div>
            </li>
        <% end %>
    </ul>
<% end %>
