<div class="splash">
    <h1>Track Budget</h1>
    <div>
        <%= link_to "LOG IN", new_user_session_path, class: 'login' %>
        <%= link_to "SIGN UP", new_user_registration_path, class: 'signup' %>
    </div>
</div>
